/**************************** global ****************************/

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/**************************** global - background ****************************/

/**************************** global - navi bar ****************************/

.navbar {
    width: 85%;
    margin: auto;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 160px;
    cursor: pointer;
}

.navbar ul li {
    list-style-type: none;
    display: inline-block;
    margin: 5px 20px;
    position: relative;
    font-size: 16px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    text-transform: lowercase;
}

.navbar ul li::after {
    content: '';
    height: 2px;
    width: 0%;
    background: rgb(200, 0, 0);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar ul li:hover:after{
    width: 100%;
}

/**************************** global - footer ****************************/

/**************************** index.html - homepage ****************************/
